* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Roboto+Slab&family=Space+Mono&display=swap');

:root {
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 1.5;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background: var(--deepPurple);
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent: var(--pinkishRed);
  --app-font: var(--chakra-kumbah-sans);

  --pinkishRed: #f87070;
  --lightBlue: #70f3f8;
  --purplePink: #d881f8;
  --blueGray: #d7e0ff;
  --deepPurple: #1e213f;
  --white: #ffffff;
  --offWhite: #eff1fa;
  --deepBlue: #161932;
}

/* color themes */
:root[data-theme='pinkishRed'] {
  --accent: var(--pinkishRed);
}

:root[data-theme='lightBlue'] {
  --accent: var(--lightBlue);
}

:root[data-theme='purplePink'] {
  --accent: var(--purplePink);
}

/* font themes */
:root[data-font='sans'] {
  --app-font: var(--chakra-kumbah-sans);
}
:root[data-font='serif'] {
  --app-font: var(--roboto-slab);
}
:root[data-font='mono'] {
  --app-font: var(--space-mono);
}
