* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Roboto+Slab:wght@700&family=Space+Mono:wght@700&display=swap');

:root {
  /* Default values */
  --accent: #f87070;
  --app-font: 'Kumbh Sans', sans-serif;
  
  /* Color palette */
  --pinkishRed: #f87070;
  --lightBlue: #70f3f8;
  --purplePink: #d881f8;
  --blueGray: #d7e0ff;
  --deepPurple: #1e213f;
  --white: #ffffff;
  --offWhite: #eff1fa;
  --deepBlue: #161932;

  /* Apply theme */
  font-family: var(--app-font);
  line-height: 1.5;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background: var(--deepPurple);
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Test if these rules are being applied */
:root[data-theme='lightBlue'] {
  --accent: #70f3f8;
}

:root[data-theme='purplePink'] {
  --accent: #d881f8;
}

:root[data-theme='pinkishRed'] {
  --accent: #f87070;
}

/* Font themes */
:root[data-font='sans'] {
  --app-font: 'Kumbh Sans', sans-serif;
}

:root[data-font='serif'] {
  --app-font: 'Roboto Slab', serif;
}

:root[data-font='mono'] {
  --app-font: 'Space Mono', monospace;
}


